@import "../bootstrap/_variables";
@import "./_variables";

$element-height: 3.6vw;
$elemont-font-size: 1vw;
$grid-gutter: 0.25vw;

.c-periodic-table {
  overflow: auto;
  margin: -$grid-gutter;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    margin: -$spacer / 2;
  }
}

.c-information {
  margin: $grid-gutter;
  overflow: auto;
  max-height: 14.1vw;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    margin: $spacer / 2;
    max-height: 100%;
  }
}

ol, li {
  margin: 0;
  padding: 0;
  float: none;
  list-style-type: none;
}

.element {
  background: $gray-lighter;
  margin: $grid-gutter;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    margin: $spacer / 2;
    height: 64px;
    width: 64px;
    float: left;
  }
}

@supports not(display: grid) {
  .element {
    float: left;
    min-width: 3.6vw;
    min-height: $element-height;
    margin: $grid-gutter;
  }

  .lanthanoid, .actinoid {
    display: none;
  }
}

[data-element-group] {
  border-style: solid;
  border-width: 0.1vw;

  a {
    display: block;
    height: 100%;
    width: 100%;
    min-height: 4vw;
  }
}

.c-element-definition {
  color: white;
  font-size: $elemont-font-size;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    font-size: inherit;
  }
}

[data-element-group="non-metal"] {
  background-color: rgba($non-metal, 0.25);
  border-color: $non-metal;

  a:hover {
    background-color: rgba($non-metal, 0.25);
  }
}

[data-element-group="halogen"] {
  background-color: rgba($halogen, 0.25);
  border-color: $halogen;

  a:hover {
    background-color: rgba($halogen, 0.25);
  }
}

[data-element-group="metalloid"] {
  background-color: rgba($metalloid, 0.25);
  border-color: $metalloid;

  a:hover {
    background-color: rgba($metalloid, 0.25);
  }
}

[data-element-group="metal"] {
  background-color: rgba($metal, 0.25);
  border-color: $metal;

  a:hover {
    background-color: rgba($metal, 0.25);
  }
}

[data-element-group="alkali-metal"] {
  background-color: rgba($alkali-metal, 0.25);
  border-color: $alkali-metal;

  a:hover {
    background-color: rgba($alkali-metal, 0.25);
  }
}

[data-element-group="alkaline-earth-metal"] {
  background-color: rgba($alkaline-earth-metal, 0.25);
  border-color: $alkaline-earth-metal;

  a:hover {
    background-color: rgba($alkaline-earth-metal, 0.25);
  }
}

[data-element-group="transition-metal"] {
  background-color: rgba($transition-metal, 0.25);
  border-color: $transition-metal;

  a:hover {
    background-color: rgba($transition-metal, 0.25);
  }
}

[data-element-group="noble-gas"] {
  background-color: rgba($noble-gas, 0.25);
  border-color: $noble-gas;

  a:hover {
    background-color: rgba($noble-gas, 0.25);
  }
}

[data-element-group="lanthanoid"] {
  background-color: rgba($lanthanoid, 0.25);
  border-color: $lanthanoid;

  a:hover {
    background-color: rgba($lanthanoid, 0.25);
  }
}

[data-element-group="actinoid"] {
  background-color: rgba($actinoid, 0.25);
  border-color: $actinoid;

  a:hover {
    background-color: rgba($actinoid, 0.25);
  }
}

@supports (display: grid) {
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .c-periodic-table {
      display: grid;
      /* grid-gap: $grid-gutter; */
      grid-template-columns: repeat(18, calc(100% / 18));
      
    }

    .c-information {
      grid-column-start: 3;
      grid-column-end: span 10;
      grid-row-start: 1;
      grid-row-end: span 3;
    }

    .actinoid {
      grid-column: 3;
      grid-row: 7;
    }

    .lanthanoid {
      grid-column: 3;
      grid-row: 6;
    }

    .feature-element {
      grid-column: 3/9;
      grid-row: 2/4;
      background: #eee;
    }

    .block1 { grid-column: 2; grid-row: 1; }
    .block2 { grid-column: 13; grid-row: 1; }
    .block3 { grid-column: 14; grid-row: 1; }
    .block4 { grid-column: 15; grid-row: 1; }
    .block5 { grid-column: 16; grid-row: 1; }
    .block6 { grid-column: 17; grid-row: 1; }

    .block7 { grid-column: 1; grid-row: 8; }
    .block8 { grid-column: 1; grid-row: 9; }

    .block9 { grid-column: 17; grid-row: 8; }
    .block10 { grid-column: 18; grid-row: 8; }

    .pos0 { grid-column: 1; grid-row: 1; }

    .pos1 { grid-column: 18; grid-row: 1; }

    .pos2 { grid-column: 1; grid-row: 2; }

    .pos3 { grid-column: 2; grid-row: 2; }

    .pos4 { grid-column: 13; grid-row: 2; }

    .pos5 { grid-column: 14; grid-row: 2; }

    .pos6 { grid-column: 15; grid-row: 2; }

    .pos7 { grid-column: 16; grid-row: 2; }

    .pos8 { grid-column: 17; grid-row: 2; }

    .pos9 { grid-column: 18; grid-row: 2; }

    .pos10 { grid-column: 1; grid-row: 3; }

    .pos11 { grid-column: 2; grid-row: 3; }

    .pos12 { grid-column: 13; grid-row: 3; }

    .pos13 { grid-column: 14; grid-row: 3; }

    .pos14 { grid-column: 15; grid-row: 3; }

    .pos15 { grid-column: 16; grid-row: 3; }

    .pos16 { grid-column: 17; grid-row: 3; }

    .pos17 { grid-column: 18; grid-row: 3; }

    .pos18 { grid-column: 1; grid-row: 4; }

    .pos19 { grid-column: 2; grid-row: 4; }

    .pos20 { grid-column: 3; grid-row: 4; }

    .pos21 { grid-column: 4; grid-row: 4; }

    .pos22 { grid-column: 5; grid-row: 4; }

    .pos23 { grid-column: 6; grid-row: 4; }

    .pos24 { grid-column: 7; grid-row: 4; }

    .pos25 { grid-column: 8; grid-row: 4; }

    .pos26 { grid-column: 9; grid-row: 4; }

    .pos27 { grid-column: 10; grid-row: 4; }

    .pos28 { grid-column: 11; grid-row: 4; }

    .pos29 { grid-column: 12; grid-row: 4; }

    .pos30 { grid-column: 13; grid-row: 4; }

    .pos31 { grid-column: 14; grid-row: 4; }

    .pos32 { grid-column: 15; grid-row: 4; }

    .pos33 { grid-column: 16; grid-row: 4; }

    .pos34 { grid-column: 17; grid-row: 4; }

    .pos35 { grid-column: 18; grid-row: 4; }

    .pos36 { grid-column: 1; grid-row: 5; }

    .pos37 { grid-column: 2; grid-row: 5; }

    .pos38 { grid-column: 3; grid-row: 5; }

    .pos39 { grid-column: 4; grid-row: 5; }

    .pos40 { grid-column: 5; grid-row: 5; }

    .pos41 { grid-column: 6; grid-row: 5; }

    .pos42 { grid-column: 7; grid-row: 5; }

    .pos43 { grid-column: 8; grid-row: 5; }

    .pos44 { grid-column: 9; grid-row: 5; }

    .pos45 { grid-column: 10; grid-row: 5; }

    .pos46 { grid-column: 11; grid-row: 5; }

    .pos47 { grid-column: 12; grid-row: 5; }

    .pos48 { grid-column: 13; grid-row: 5; }

    .pos49 { grid-column: 14; grid-row: 5; }

    .pos50 { grid-column: 15; grid-row: 5; }

    .pos51 { grid-column: 16; grid-row: 5; }

    .pos52 { grid-column: 17; grid-row: 5; }

    .pos53 { grid-column: 18; grid-row: 5; }

    .pos54 { grid-column: 1; grid-row: 6; }

    .pos55 { grid-column: 2; grid-row: 6; }

    .pos56 { grid-column: 2; grid-row: 6; }

    .pos57 { grid-column: 3; grid-row: 6; }

    .pos58 { grid-column: 4; grid-row: 6; }

    .pos59 { grid-column: 5; grid-row: 6; }

    .pos60 { grid-column: 6; grid-row: 6; }

    .pos61 { grid-column: 7; grid-row: 6; }

    .pos62 { grid-column: 8; grid-row: 6; }

    .pos63 { grid-column: 9; grid-row: 6; }

    .pos64 { grid-column: 10; grid-row: 6; }

    .pos65 { grid-column: 11; grid-row: 6; }

    .pos66 { grid-column: 12; grid-row: 6; }

    .pos67 { grid-column: 13; grid-row: 6; }

    .pos68 { grid-column: 14; grid-row: 6; }

    .pos69 { grid-column: 15; grid-row: 6; }

    .pos70 { grid-column: 16; grid-row: 8; }

    .pos71 { grid-column: 4; grid-row: 6; }

    .pos72 { grid-column: 5; grid-row: 6; }

    .pos73 { grid-column: 6; grid-row: 6; }

    .pos74 { grid-column: 7; grid-row: 6; }

    .pos75 { grid-column: 8; grid-row: 6; }

    .pos76 { grid-column: 9; grid-row: 6; }

    .pos77 { grid-column: 10; grid-row: 6; }

    .pos78 { grid-column: 11; grid-row: 6; }

    .pos79 { grid-column: 12; grid-row: 6; }

    .pos80 { grid-column: 13; grid-row: 6; }

    .pos81 { grid-column: 14; grid-row: 6; }

    .pos82 { grid-column: 15; grid-row: 6; }

    .pos83 { grid-column: 16; grid-row: 6; }

    .pos84 { grid-column: 17; grid-row: 6; }

    .pos85 { grid-column: 18; grid-row: 6; }

    .pos86 { grid-column: 1; grid-row: 7; }

    .pos87 { grid-column: 2; grid-row: 7; }

    .pos88 { grid-column: 2; grid-row: 7; }

    .pos89 { grid-column: 3; grid-row: 7; }

    .pos90 { grid-column: 4; grid-row: 7; }

    .pos91 { grid-column: 5; grid-row: 7; }

    .pos92 { grid-column: 6; grid-row: 7; }

    .pos93 { grid-column: 7; grid-row: 7; }

    .pos94 { grid-column: 8; grid-row: 7; }

    .pos95 { grid-column: 9; grid-row: 7; }

    .pos96 { grid-column: 10; grid-row: 7; }

    .pos97 { grid-column: 11; grid-row: 7; }

    .pos98 { grid-column: 12; grid-row: 7; }

    .pos99 { grid-column: 13; grid-row: 7; }

    .pos100 { grid-column: 14; grid-row: 7; }

    .pos101 { grid-column: 15; grid-row: 7; }

    .pos102 { grid-column: 16; grid-row: 9; }

    .pos103 { grid-column: 4; grid-row: 7; }

    .pos104 { grid-column: 5; grid-row: 7; }

    .pos105 { grid-column: 6; grid-row: 7; }

    .pos106 { grid-column: 7; grid-row: 7; }

    .pos107 { grid-column: 8; grid-row: 7; }

    .pos108 { grid-column: 9; grid-row: 7; }

    .pos109 { grid-column: 10; grid-row: 7; }

    .pos110 { grid-column: 11; grid-row: 7; }

    .pos111 { grid-column: 12; grid-row: 7; }

    .pos112 { grid-column: 13; grid-row: 7; }

    .pos113 { grid-column: 14; grid-row: 7; }

    .pos114 { grid-column: 15; grid-row: 7; }

    .pos115 { grid-column: 16; grid-row: 7; }

    .pos116 { grid-column: 17; grid-row: 7; }

    .pos117 { grid-column: 18; grid-row: 7; }

    .la { grid-column: 2; grid-row: 8; }

    .ce { grid-column: 3; grid-row: 8; }

    .pr { grid-column: 4; grid-row: 8; }

    .nd { grid-column: 5; grid-row: 8; }

    .pm { grid-column: 6; grid-row: 8; }

    .sm { grid-column: 7; grid-row: 8; }

    .eu { grid-column: 8; grid-row: 8; }

    .gd { grid-column: 9; grid-row: 8; }

    .tb { grid-column: 10; grid-row: 8; }

    .dy { grid-column: 11; grid-row: 8; }

    .ho { grid-column: 12; grid-row: 8; }

    .er { grid-column: 13; grid-row: 8; }

    .tm { grid-column: 14; grid-row: 8; }

    .yb { grid-column: 15; grid-row: 8; }

    .ac { grid-column: 2; grid-row: 9; }

    .th { grid-column: 3; grid-row: 9; }

    .pa { grid-column: 4; grid-row: 9; }

    .u { grid-column: 5; grid-row: 9; }

    .np { grid-column: 6; grid-row: 9; }

    .pu { grid-column: 7; grid-row: 9; }

    .am { grid-column: 8; grid-row: 9; }

    .cm { grid-column: 9; grid-row: 9; }

    .bk { grid-column: 10; grid-row: 9; }

    .cf { grid-column: 11; grid-row: 9; }

    .es { grid-column: 12; grid-row: 9; }

    .fm { grid-column: 13; grid-row: 9; }

    .md { grid-column: 14; grid-row: 9; }

    .no { grid-column: 15; grid-row: 9; }
  }
}